body { 
	background-position: bottom right;
	background-image: url("cool.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%}
h1 { 
	color: rosybrown;
	margin-left: 20px;
	font-family:monospace;
	font-weight: bold;
}
.floated{ background-color: brown;
		  font-size:1.5em;
		  font-family: inherit;
		  padding: .2em;
		  margin: 0 0 10px 10px;
		  float: right;
		  text-align: right;
		}
h2, em  { color: grey;
		margin-left: 10px;
		font-family:cursive }
h3, em  { color: darkslategrey;
		font-family: arial, helvetica; }
.ab     {z-index: 3}
em    	{ font-weight: bold;font-size: 15pt
		;color: lightcyan;}
p    	{ font-size: 10pt; font-family: arial, san-serif; color:blue; font-weight: bold;}
.cool   { color:purple; font-family: monospace, arial; font-size: 15pt}
.normal { color: black;  font-size: 20px; text-indent: 1em}
.padding{ padding: 50px 30px 50px 0;}
.image1 {position: absolute;
		 top: 450px;
		 left: 700px;
		 z-index: 2 }
.image2 {position: absolute;
		 left: 500px;
		 top: 450px;
		 z-index: 1}
.pad    { padding: 10px 10px 10px 10px }
span	{ color: black; text-decoration: underline;-through;}
.extra span { color: inherit; margin-right: 0; padding-right: 0; position: absolute;}
